Repository ksquarekumar/whisper-stream: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-lock-faster-whisper-api, generate-lock-jax-pipelines, generate-lock-root, check-sync-faster-whisper-api, check-sync-jax-pipelines, check-sync-root, export-faster_whisper_api, export-jax_pipelines, export-root-core-faster_whisper_api, export-root-core-jax_pipelines, export-root-core-all, export-root-all

mypy:
  name: Static Type Checking with Mypy
  language: system
  entry: mypy --install-types --non-interactive --config-file pyproject.toml ./
  pass_filenames: false

generate-lock-faster-whisper-api:
  name: Generate `poetry` lock for `faster-whisper-api` `pyproject`
  language: system
  stages:
  - manual
  - pre-commit
  pass_filenames: false
  entry: poetry lock
  args:
  - -C
  - ./projects/faster-whisper-api

generate-lock-jax-pipelines:
  name: Generate `poetry` lock for `jax-pipelines` `pyproject`
  language: system
  stages:
  - manual
  - pre-commit
  pass_filenames: false
  entry: poetry lock
  args:
  - -C
  - ./projects/jax-pipelines

generate-lock-root:
  name: Generate `poetry` lock for root `pyproject`
  language: system
  stages:
  - manual
  - pre-commit
  pass_filenames: false
  entry: poetry lock
  args:
  - -C
  - .

check-sync-faster-whisper-api:
  name: Check `faster-whisper-api` `pyproject` and `poetry.lock` are in-sync and valid
  language: system
  pass_filenames: false
  entry: poetry check
  args:
  - --lock
  - -C
  - ./projects/faster-whisper-api

check-sync-jax-pipelines:
  name: Check `jax-pipelines` `pyproject` and `poetry.lock` are in-sync and valid
  language: system
  pass_filenames: false
  entry: poetry check
  args:
  - --lock
  - -C
  - ./projects/jax-pipelines

check-sync-root:
  name: Check `root` `pyproject` and `poetry.lock` are in-sync and valid
  language: system
  pass_filenames: false
  entry: poetry check
  args:
  - --lock
  - -C
  - .

export-faster_whisper_api:
  name: run poetry export on `main` deps for `faster_whisper_api` project to sync lock file with projects/faster-whisper-api/requirements.txt
  language: system
  pass_filenames: false
  entry: poetry export
  args:
  - --only
  - main
  - -C
  - ./projects/faster-whisper-api
  - -f
  - requirements.txt
  - -o
  ...

export-jax_pipelines:
  name: run poetry export on `main` deps for `jax_pipelines` project to sync lock file with projects/jax-pipelines/requirements.txt
  language: system
  pass_filenames: false
  entry: poetry export
  args:
  - --only
  - main
  - -C
  - ./projects/jax-pipelines
  - -f
  - requirements.txt
  - -o
  - requirements.txt
  ...

export-root-core-faster_whisper_api:
  name: run poetry export on `faster_whisper_api` extras to sync lock file with requirements.core.faster_whisper_api.txt
  language: system
  pass_filenames: false
  entry: poetry export
  args:
  - --only
  - main
  - --extras
  - faster_whisper_api
  - -f
  - requirements.txt
  - -o
  ...

export-root-core-jax_pipelines:
  name: run poetry export on `jax_pipelines` extras to sync lock file with requirements.core.jax_pipelines.txt
  language: system
  pass_filenames: false
  entry: poetry export
  args:
  - --only
  - main
  - --extras
  - jax_pipelines
  - -f
  - requirements.txt
  - -o
  - requirements.core.jax_pipelines.txt
  ...

chore: bump packages
  development/docker/sagemaker/environment_full.yml
  development/docker/sagemaker/requirements.txt
  environment_full.yml
Due: none

fix: entrypoints, update docs
  .pre-commit-config.yaml
  poetry.lock
  projects/faster-whisper-api/README.md
  projects/faster-whisper-api/pyproject.toml
  projects/faster-whisper-api/requirements.txt
  projects/jax-pipelines/requirements.txt
  pyproject.toml
  whisper_stream/projects/faster_whisper_api/app.py
  whisper_stream/projects/faster_whisper_api/config/faster_whisper_api_launch_config.py
Due: mypy, generate-lock-faster-whisper-api, generate-lock-jax-pipelines, generate-lock-root, check-sync-faster-whisper-api, check-sync-jax-pipelines, check-sync-root, export-faster_whisper_api, export-jax_pipelines, export-root-core-faster_whisper_api, export-root-core-jax_pipelines, export-root-core-all, export-root-all

feat: add locust tests
  README.md
  pyproject.toml
  tests/faster-whisper-api.conf
  tests/faster_whisper_api/__init__.py
  tests/faster_whisper_api/locustfile.py
  tests/faster_whisper_api/problem.py
  tests/requirements.test.faster_whisper_api.txt
Due: mypy, generate-lock-faster-whisper-api, generate-lock-jax-pipelines, generate-lock-root, check-sync-faster-whisper-api, check-sync-jax-pipelines, check-sync-root

chore: update locks for testing deps, update faster whisper-api code
  .dockerignore
  .pre-commit-config.yaml
  development/notebooks/usage-jax-whisper-streaming.ipynb
  development/notebooks/usage-whisper-jax.ipynb
  poetry.lock
  projects/faster-whisper-api/.test.env
  projects/faster-whisper-api/Dockerfile
  projects/faster-whisper-api/docker-compose.yml
  projects/faster-whisper-api/poetry.lock
  projects/faster-whisper-api/pyproject.toml
  projects/faster-whisper-api/requirements.txt
  projects/jax-pipelines/poetry.lock
  projects/jax-pipelines/requirements.txt
  requirements.all.projects.txt
  requirements.all.txt
  requirements.core.faster_whisper_api.txt
  requirements.core.jax_pipelines.txt
  tests/faster_whisper_api/locustfile.py
  tests/faster_whisper_api/problem.py
  tests/requirements.test.faster_whisper_api.txt
  whisper_stream/core/helpers/parallel.py
  whisper_stream/projects/faster_whisper_api/__main__.py
  whisper_stream/projects/faster_whisper_api/app.py
  whisper_stream/projects/faster_whisper_api/config/base.py
  whisper_stream/projects/faster_whisper_api/config/faster_whisper_api_launch_config.py
  whisper_stream/projects/faster_whisper_api/di/common.py
  whisper_stream/projects/faster_whisper_api/di/faster_whisper_model.py
  whisper_stream/projects/faster_whisper_api/endpoints/probes.py
  whisper_stream/projects/faster_whisper_api/endpoints/transcribe.py
  whisper_stream/projects/faster_whisper_api/schemas/exceptions.py
  whisper_stream/projects/faster_whisper_api/schemas/responses.py
Due: mypy, generate-lock-faster-whisper-api, generate-lock-jax-pipelines, generate-lock-root, check-sync-faster-whisper-api, check-sync-jax-pipelines, check-sync-root, export-faster_whisper_api, export-jax_pipelines, export-root-core-faster_whisper_api, export-root-core-jax_pipelines, export-root-core-all, export-root-all

chore: add new files
  requirements.testing.txt
  whisper_stream/projects/faster_whisper_api/config/faster_whisper_transcription_config.py
Due: mypy

chore: add jupyterhub standalone docker image
  development/docker/jupyterhub/.dockerignore
  development/docker/jupyterhub/Dockerfile.jupyterhub
  development/docker/jupyterhub/environment_full.yml
  development/docker/jupyterhub/requirements.txt
Due: none

Path conditions:
  mypy: any of: \.py$
  generate-lock-faster-whisper-api: any of: ^(.*/)?pyproject\.toml$
  generate-lock-jax-pipelines: any of: ^(.*/)?pyproject\.toml$
  generate-lock-root: any of: ^(.*/)?pyproject\.toml$
  check-sync-faster-whisper-api: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-sync-jax-pipelines: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-sync-root: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  export-faster_whisper_api: any of: ^(.*/)?poetry\.lock$
  export-jax_pipelines: any of: ^(.*/)?poetry\.lock$
  export-root-core-faster_whisper_api: any of: ^(.*/)?poetry\.lock$
  export-root-core-jax_pipelines: any of: ^(.*/)?poetry\.lock$
  export-root-core-all: any of: ^(.*/)?poetry\.lock$
  export-root-all: any of: ^(.*/)?poetry\.lock$
